* {
    padding : 0;
    margin : 0;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width : 390px;
    background-color: #778899;
}

.footer {
    all: unset;
    * {
        all: unset;
        font-size: 14px;
    }
}

.footer {
    /* background-color :rgb(255, 187, 0); */
    display : flex;
    justify-content : space-between;
    /* align-items: end; */
    height : 50px;
    width : 380px;
    
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align : center;
    background-image : url(../Main/img/tabBarBg-0d05851f.png);
    background-size : contain;
    position : fixed;
    bottom : -2px;
    padding : 0 3px;
    padding-top : 20px;
}

.footer .icon {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.footer .icon {
    width : 100%;
    height : 100%;
}

.footer img{
    height : 50%;
}

.footer h5{
    opacity : .5;
}

.footer .hera {
    background-color: rgb(255, 108, 108);
    position : absolute;
    bottom : 30px;
    width: 15%;
    border-radius : 50%;
    height : 80%;
    display : flex;
    justify-content : center;
    align-items : center;
}

.footer .pro h5{
    position : relative;
    top : 13px;
}

.footer a {
    width : 10px;
    color : inherit;
    text-decoration: none;
}