<html style="display: flex; justify-content: center;">

<head>
    <title>
        Daman Activity Page
    </title>
    <script src="https://cdn.tailwindcss.com">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Account/style.css">
</head>

<body class="bg-gray-100" style="width : 390px;">
    <div class="bg-red-500 text-white text-center py-4">
        <h1 class="text-2xl font-bold">
            Coloro
        </h1>
        <p class="text-sm">
            Please remember to follow the event page
            <br />
            We will launch user feedback activities from time to time
        </p>
    </div>
    <div class="bg-white py-4">
        <div class="flex justify-around">
            <div class="text-center">
                <img alt="Activity Award Icon" class="mx-auto" height="50"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-7E8VEbK9ZrhSh8GJBx62rC5h.png?st=2024-09-24T13%3A37%3A20Z&amp;se=2024-09-24T15%3A37%3A20Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A52%3A11Z&amp;ske=2024-09-24T23%3A52%3A11Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=r609qy6IF%2B6e6OF6he6KodYSkMlJkMHID5GBbljZ4FU%3D"
                    width="50" />
                <p class="text-xs mt-2">
                    Activity Award
                </p>
            </div>
            <div class="text-center">
                <img alt="Invitation Bonus Icon" class="mx-auto" height="50"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-qUDfLUe5F6OZFI8VmLyeAKxk.png?st=2024-09-24T13%3A37%3A21Z&amp;se=2024-09-24T15%3A37%3A21Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A14%3A11Z&amp;ske=2024-09-24T23%3A14%3A11Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=wx15/qJ7NqSAd%2Bvv6J77i28B1mr8TVA%2B8CGVYYeQTx8%3D"
                    width="50" />
                <p class="text-xs mt-2">
                    Invitation Bonus
                </p>
            </div>
            <div class="text-center">
                <img alt="Betting Rebate Icon" class="mx-auto" height="50"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-6OnfuKmQiZgAOrl4ozOtsWj3.png?st=2024-09-24T13%3A37%3A23Z&amp;se=2024-09-24T15%3A37%3A23Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A22%3A25Z&amp;ske=2024-09-24T23%3A22%3A25Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=EFR6ASdZNOJL7IGz0A7ZuRGeTb5RAen5%2Bxaf/A5CoF8%3D"
                    width="50" />
                <p class="text-xs mt-2">
                    Betting Rebate
                </p>
            </div>
            <div class="text-center">
                <img alt="Super Jackpot Icon" class="mx-auto" height="50"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-yxQISVAScxuVEh3qaKqHbuPb.png?st=2024-09-24T13%3A37%3A34Z&amp;se=2024-09-24T15%3A37%3A34Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A17%3A46Z&amp;ske=2024-09-24T23%3A17%3A46Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=vLamkYTy/of5oZa8Bo52vEE3VtMB0/j3IYgBb2l2SFE%3D"
                    width="50" />
                <p class="text-xs mt-2">
                    Super Jackpot
                </p>
            </div>
        </div>
    </div>
    <div class="bg-gray-100 py-4">
        <div class="text-center mb-4">
            <h2 class="text-lg font-bold">
                New member gift package
            </h2>
        </div>
        <div class="flex justify-around mb-4">
            <div class="bg-white p-2 rounded shadow-md">
                <img alt="Gifts Image" class="w-full" height="100"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-8k86UKwpGYQWmIQDK7ZutH8S.png?st=2024-09-24T13%3A37%3A21Z&amp;se=2024-09-24T15%3A37%3A21Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A22%3A25Z&amp;ske=2024-09-24T23%3A22%3A25Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=enwO2nUHuufu4Fo6ex28oLJQgZJDosYr0vCLVanODBg%3D"
                    width="150" />
                <p class="text-xs mt-2">
                    Gifts
                    <br />
                    Enter the redemption code to receive gift rewards
                </p>
            </div>
            <div class="bg-white p-2 rounded shadow-md">
                <img alt="Attendance Bonus Image" class="w-full" height="100"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-9ie6sVbcvsbGPSnR9DbKB2si.png?st=2024-09-24T13%3A37%3A20Z&amp;se=2024-09-24T15%3A37%3A20Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A08%3A11Z&amp;ske=2024-09-24T23%3A08%3A11Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=LkRyaHd11GXAxMe3iq7V8j1wQz8IeM8BXpUU4k/4HRM%3D"
                    width="150" />
                <p class="text-xs mt-2">
                    Attendance bonus
                    <br />
                    The more consecutive days you sign in, the higher the reward will be
                </p>
            </div>
        </div>
        <div class="bg-white p-2 rounded shadow-md mb-4">
            <img alt="Become Agent Image" class="w-full" height="100"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-G4YPCTHM2xRxorIaxk4MInGs.png?st=2024-09-24T13%3A37%3A21Z&amp;se=2024-09-24T15%3A37%3A21Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A21%3A26Z&amp;ske=2024-09-24T23%3A21%3A26Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=Oc/cZbvuFCavCr7VsBgabNAiFQBfKpCHFtNbIr6I3mA%3D"
                width="300" />
            <p class="text-center text-xs mt-2">
                Become Agent Enjoy Luxury Rewards
            </p>
        </div>
        <div class="bg-white p-2 rounded shadow-md mb-4">
            <img alt="Member Activities Winning Streak Image" class="w-full" height="100"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-9DMsEBdj8lsmfHACpWE33ElB.png?st=2024-09-24T13%3A37%3A22Z&amp;se=2024-09-24T15%3A37%3A22Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A10%3A37Z&amp;ske=2024-09-24T23%3A10%3A37Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=idWlJmA5796qba7ovMKxf23Ey7JP5ytItgGuVt7UtQE%3D"
                width="300" />
            <p class="text-center text-xs mt-2">
                Member Activities Winning Streak
            </p>
        </div>
        <div class="bg-white p-2 rounded shadow-md mb-4">
            <img alt="Aviator High Betting Award Image" class="w-full" height="100"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-xCIpXbqnBqNCzdv8t4GWMASz.png?st=2024-09-24T13%3A37%3A28Z&amp;se=2024-09-24T15%3A37%3A28Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A20%3A37Z&amp;ske=2024-09-24T23%3A20%3A37Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=F4dAW5ltHP0zlyaJ8umhA0waDbYU/K%2BJ9ezqydeuc7c%3D"
                width="300" />
            <p class="text-center text-xs mt-2">
                Aviator High Betting Award
            </p>
        </div>
        <div class="bg-white p-2 rounded shadow-md mb-4">
            <img alt="Lucky 10 Days of Interest Image" class="w-full" height="100"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-wi6lOGLRvZ6ZAq6FJtPKPXv5.png?st=2024-09-24T13%3A37%3A21Z&amp;se=2024-09-24T15%3A37%3A21Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A15%3A45Z&amp;ske=2024-09-24T23%3A15%3A45Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=JcX3/mSGlulis6G5YNejKSKkfXJAVoG0iEso7Je2ybc%3D"
                width="300" />
            <p class="text-center text-xs mt-2">
                Lucky "10" Days Of Interest
            </p>
        </div>
        <div class="bg-white p-2 rounded shadow-md mb-4">
            <img alt="Youtube Creative Video Image" class="w-full" height="100"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-Ctx3u3U4AHnfBi8atv8k6dMf.png?st=2024-09-24T13%3A37%3A16Z&amp;se=2024-09-24T15%3A37%3A16Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-24T01%3A36%3A52Z&amp;ske=2024-09-25T01%3A36%3A52Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=J5wnMprS8lZ4pUER4d4nrq39Mn55D5oSS%2BK7pzjofS8%3D"
                width="300" />
            <p class="text-center text-xs mt-2">
                Youtube Creative Video
            </p>
        </div>
        <div class="bg-white p-2 rounded shadow-md mb-4">
            <img alt="Mysterious Gift Image" class="w-full" height="100"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-1UhHQwyDe5pgVvAzk3VDbaB4.png?st=2024-09-24T13%3A37%3A20Z&amp;se=2024-09-24T15%3A37%3A20Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A29%3A37Z&amp;ske=2024-09-24T23%3A29%3A37Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=0ckJRk8/42SZPLQsYmqzyESXkHnGLN7/gI6%2BWbxv84c%3D"
                width="300" />
            <p class="text-center text-xs mt-2">
                Mysterious Gift
            </p>
        </div>
    </div>
    <div style="height : 100px"></div>
    <%- include('./includes/index.ejs') %>